# Power BI temporary files
*.pbit
*.tmp

# Excel temporary files
~$*.xlsx
~$*.xls

# Python files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
